@model IEnumerable<Book>

<div class="row align-items-start">
    <div class="col-md-2">
        <p>Menu</p>
    </div>
    <div class="col-md-10 align-items-center" style="background-color: white; width: 70%;">
        @for(int i = 0; i < (Model.Count()/4)+1; i++)
        {
            <div class="row">
            @foreach(var b in Model.Skip(i).Take(4))
            {
                <div class="card" style="width: 12rem;">
                <img src="/img/default_cover.png" class="card-img-top" alt="Обложка отсутствует">
                    <div class="card-body">
                            @if(b.Title.Length > 30)
                            {
                                <a asp-action="OpenBookPage" asp-route-itemid="@b.BookId" class="card-link">@(b.Title.Substring(0, 30).TrimEnd() + "...") </a>
                            } else
                            {
                                <a asp-action="OpenBookPage" asp-route-itemid="@b.BookId" class="card-link">@b.Title </a>
                            }
                            <p class="card-text">@(b.Author.Surname + " " + b.Author.Name)</p>
                    <p class="card-text">@b.PagesCount стр.</p>
                        @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                    </div>
                </div>
            }
            </div>
        }
    </div>
</div>